body{
  padding: 100px;
}
.submit-area{
  box-shadow: 5px 5px 10px gray;
  padding: 20px 40px;
  margin-top: 50px;
  border-radius: 10px;
}
#calculate-area{
  display: none;
}
.status{
  margin: 0 20px;
  color: white;
  border-radius: 10px;
  padding: 20px;
}
.deposit{
  background-color: slateblue;
}
.withdraw{
  background-color: lightsalmon;
}
.balance{
  background-color: orange;
}